.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokeimg {
  width: 150px;
}

.tutorial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
